
main .subsections {
    margin: 0px 16px 16px 16px;
    height: min-content;
    background-color: grey;
}

.subsections_content {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

main .subsections_card {
    width: 215px;
    height: 215px;
    overflow: hidden;
    background-color: black;
    margin: 8px;
}

.subsections_card .promo {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 65%;
}

.subsections_card .promo img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    object-fit: cover;
}

.subsections_card .title {
    width: 100%;
    height: 35%;
    color: white;
}


main .goods {
    background-color: rgb(255, 255, 255);
    margin: 16px 16px 0px 16px;
    background-color: grey;
}

main .goods_title {
    width: 100%;
    padding: 8px;
}

main .goods_content {
    display: flex;
    padding: 8px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.good_card span {
    color: black;
}

.good_card {
    display: flex;
    flex-direction: column;
    margin: 8px;
    width: 300px;
    height: min-content;
}

.good_card .promo_img {
    position: relative;
    width: 100%;
    height: 75%;

}

.good_card .promo_img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.promo_img .slider__wrapper {
    overflow: hidden;
}

.promo_img .slider__item {
    flex: 0 0 100%;
    max-width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.8);
    font-size: 7rem;
}
