/*! 3.7.8 | BH: 58b4644c9aa4f5536bc3 | CH: 2b567c6 */

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}
body, button, h3 {
	margin: 0;
	padding: 0
}
button {
	background: none;
	border: 0;
	box-sizing: initial;
	color: inherit;
	cursor: pointer;
	font: inherit;
	line-height: inherit;
	overflow: visible;
	vertical-align: inherit
}
button:disabled {
	cursor: default
}
:focus {
	outline: 4px solid rgba(0, 125, 250, .6);
	outline-offset: 1px
}
::-moz-focus-inner {
	border: 0;
	padding: 0
}
html {
	font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 106.25%;
	quotes: "â€œ""â€"
}
body {
	font-size: 17px;
	line-height: 1.47059;
	font-weight: 400;
	letter-spacing: -.022em;
	font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
	background-color: #fff;
	color: #1d1d1f;
	font-style: normal
}
body, button {
	font-synthesis: none;
	-moz-font-feature-settings: "kern";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	direction: ltr;
	text-align: left
}
h3 {
	font-weight: 600;
	color: #1d1d1f
}
h3+* {
	margin-top: .8em
}
a {
	color: #06c;
	letter-spacing: inherit
}
a:link, a:visited {
	text-decoration: none
}
a:hover {
	text-decoration: underline
}
a:active {
	text-decoration: none
}
a:disabled {
	opacity: .32
}
b {
	font-weight: 600
}
@font-face {
	font-family: AOS Icons;
	font-style: normal;
	font-weight: 400;
	src: url(../dist/assets/as-icons/fonts/aosicons_regular.eot);
	src: url(../dist/assets/as-icons/fonts/aosicons_regular.eot?#iefix) format("embedded-opentype"), url(../dist/assets/as-icons/fonts/aosicons_regular.woff) format("woff"), url(../dist/assets/as-icons/fonts/aosicons_regular.ttf) format("truetype")
}
body {
	min-width: 320px
}
body {
	min-width: 1024px
}
@media only screen and (max-width:1023px) and (max-device-width:736px) {
	body {
		min-width: 320px
	}
}
.paddlenav {
	margin: 0;
	list-style: none
}
.paddlenav .paddlenav-arrow {
	display: block;
	font-style: normal;
	overflow: hidden;
	position: absolute;
	text-align: center;
	transition: background-color .25s linear, color .25s linear, opacity .25s linear
}
.paddlenav .paddlenav-arrow-next, .paddlenav .paddlenav-arrow-previous {
	top: 50%
}
.paddlenav .paddlenav-arrow:hover {
	text-decoration: none
}
.paddlenav .paddlenav-arrow:focus {
	box-shadow: 0 0 0 4px rgba(0, 125, 250, .6);
	outline: none
}
.paddlenav .paddlenav-arrow:disabled {
	cursor: default;
	opacity: 0
}
.paddlenav .paddlenav-arrow {
	font-weight: 300;
	width: 5.29412rem;
	height: 5.29412rem;
	border-radius: 5.29412rem;
	font-size: 53px;
	line-height: 5.29412rem
}
.paddlenav .paddlenav-arrow-next, .paddlenav .paddlenav-arrow-previous {
	margin-top: -2.64706rem
}
.paddlenav .paddlenav-arrow-next:after, .paddlenav .paddlenav-arrow-next:before {
	font-family: SF Pro Icons, AOS Icons;
	color: inherit;
	display: inline-block;
	font-style: normal;
	font-weight: inherit;
	font-size: inherit;
	line-height: 1;
	text-decoration: underline;
	position: relative;
	z-index: 1;
	alt: "";
	text-decoration: none
}
.paddlenav .paddlenav-arrow-next:before {
	display: none
}
.paddlenav .paddlenav-arrow-next:after, .paddlenav .paddlenav-arrow-next:before {
	content: "ï›"
}
.paddlenav .paddlenav-arrow-next:after {
	margin-right: -.056em
}
.paddlenav .paddlenav-arrow-previous:after, .paddlenav .paddlenav-arrow-previous:before {
	font-family: SF Pro Icons, AOS Icons;
	color: inherit;
	display: inline-block;
	font-style: normal;
	font-weight: inherit;
	font-size: inherit;
	line-height: 1;
	text-decoration: underline;
	position: relative;
	z-index: 1;
	alt: "";
	text-decoration: none
}
.paddlenav .paddlenav-arrow-previous:before {
	display: none
}
.paddlenav .paddlenav-arrow-previous:after, .paddlenav .paddlenav-arrow-previous:before {
	content: "ïš"
}
.paddlenav .paddlenav-arrow-previous:after {
	margin-left: -.056em
}
.paddlenav .paddlenav-arrow {
	background-color: transparent;
	color: rgba(134, 134, 139, .8)
}
.paddlenav .paddlenav-arrow:active, .paddlenav .paddlenav-arrow:hover {
	background-color: transparent;
	color: #86868b
}
.paddlenav .paddlenav-arrow-next {
	right: 18px
}
.paddlenav .paddlenav-arrow-previous {
	left: 18px
}
@media only screen and (max-width:1023px) and (max-device-width:736px) {
	.paddlenav .paddlenav-arrow {
		font-weight: 300;
		width: 3.05882rem;
		height: 3.05882rem;
		border-radius: 3.05882rem;
		font-size: 53px;
		line-height: 3.05882rem
	}
	.paddlenav .paddlenav-arrow-next, .paddlenav .paddlenav-arrow-previous {
		margin-top: -1.52941rem
	}
	.paddlenav .paddlenav-arrow-next:after, .paddlenav .paddlenav-arrow-next:before {
		font-family: SF Pro Icons, AOS Icons;
		color: inherit;
		display: inline-block;
		font-style: normal;
		font-weight: inherit;
		font-size: inherit;
		line-height: 1;
		text-decoration: underline;
		position: relative;
		z-index: 1;
		alt: "";
		text-decoration: none
	}
	.paddlenav .paddlenav-arrow-next:before {
		display: none
	}
	.paddlenav .paddlenav-arrow-next:after, .paddlenav .paddlenav-arrow-next:before {
		content: "ï¡"
	}
	.paddlenav .paddlenav-arrow-next:after {
		margin-right: -.044em
	}
	.paddlenav .paddlenav-arrow-previous:after, .paddlenav .paddlenav-arrow-previous:before {
		font-family: SF Pro Icons, AOS Icons;
		color: inherit;
		display: inline-block;
		font-style: normal;
		font-weight: inherit;
		font-size: inherit;
		line-height: 1;
		text-decoration: underline;
		position: relative;
		z-index: 1;
		alt: "";
		text-decoration: none
	}
	.paddlenav .paddlenav-arrow-previous:before {
		display: none
	}
	.paddlenav .paddlenav-arrow-previous:after, .paddlenav .paddlenav-arrow-previous:before {
		content: "ï "
	}
	.paddlenav .paddlenav-arrow-previous:after {
		margin-left: -.044em
	}
}
.paddlenav-compact .paddlenav-arrow {
	font-weight: 300;
	width: 3.05882rem;
	height: 3.05882rem;
	border-radius: 3.05882rem;
	font-size: 53px;
	line-height: 3.05882rem
}
.paddlenav-compact .paddlenav-arrow-next, .paddlenav-compact .paddlenav-arrow-previous {
	margin-top: -1.52941rem
}
.paddlenav-compact .paddlenav-arrow-next:after, .paddlenav-compact .paddlenav-arrow-next:before {
	font-family: SF Pro Icons, AOS Icons;
	color: inherit;
	display: inline-block;
	font-style: normal;
	font-weight: inherit;
	font-size: inherit;
	line-height: 1;
	text-decoration: underline;
	position: relative;
	z-index: 1;
	alt: "";
	text-decoration: none
}
.paddlenav-compact .paddlenav-arrow-next:before {
	display: none
}
.paddlenav-compact .paddlenav-arrow-next:after, .paddlenav-compact .paddlenav-arrow-next:before {
	content: "ï¡"
}
.paddlenav-compact .paddlenav-arrow-next:after {
	margin-right: -.044em
}
.paddlenav-compact .paddlenav-arrow-previous:after, .paddlenav-compact .paddlenav-arrow-previous:before {
	font-family: SF Pro Icons, AOS Icons;
	color: inherit;
	display: inline-block;
	font-style: normal;
	font-weight: inherit;
	font-size: inherit;
	line-height: 1;
	text-decoration: underline;
	position: relative;
	z-index: 1;
	alt: "";
	text-decoration: none
}
.paddlenav-compact .paddlenav-arrow-previous:before {
	display: none
}
.paddlenav-compact .paddlenav-arrow-previous:after, .paddlenav-compact .paddlenav-arrow-previous:before {
	content: "ï "
}
.paddlenav-compact .paddlenav-arrow-previous:after {
	margin-left: -.044em
}
.paddlenav-framed .paddlenav-arrow {
	background-color: rgba(210, 210, 215, .2);
	color: rgba(134, 134, 139, .8)
}
.paddlenav-framed .paddlenav-arrow:hover {
	background-color: rgba(210, 210, 215, .28);
	color: #86868b
}
.paddlenav-framed .paddlenav-arrow:active {
	background-color: rgba(210, 210, 215, .36);
	color: #86868b
}
.paddlenav-framed .paddlenav-arrow-next {
	right: 18px
}
.paddlenav-framed .paddlenav-arrow-previous {
	left: 18px
}
@supports (left:calc(max(0px))) {}
@supports (right:calc(max(0px))) {}
@supports (margin:calc(max(0px))) {}
.visuallyhidden {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(0 0 99.9% 99.9%);
	clip-path: inset(0 0 99.9% 99.9%);
	overflow: hidden;
	height: 1px;
	width: 1px;
	padding: 0;
	border: 0
}
[data-core-scroller] {
	position: relative;
	white-space: nowrap;
	scroll-snap-type: mandatory;
	scroll-snap-type: x mandatory;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch
}
[data-core-scroller-platter]>div {
	display: inline-block;
	scroll-snap-coordinate: left;
	scroll-snap-align: start
}
@supports (scrollbar-width:none) {}
.rf-ccard-content {
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: hidden;
	background-color: #fff;
	border-radius: 18px;
	width: 480px;
	height: 500px;
	white-space: normal;
	box-shadow: 2px 4px 12px rgba(0, 0, 0, .08);
	transition: all .3s cubic-bezier(0, 0, .5, 1)
}
.rf-ccard-content.rf-ccard-content-withfullimg {
	flex-direction: row;
	justify-content: center
}
@media only screen and (max-width:1023px) and (max-device-width:736px) {
	.rf-ccard-content {
		width: 309px;
		height: 450px
	}
}
@media only screen and (max-device-width:320px) {
	.rf-ccard-content {
		width: 260px
	}
}
.rf-ccard-40 .rf-ccard-content {
	width: 400px
}
@media only screen and (max-width:1023px) and (max-device-width:736px) {
	.rf-ccard-40 .rf-ccard-content {
		width: 309px
	}
}
@media only screen and (max-device-width:320px) {
	.rf-ccard-40 .rf-ccard-content {
		width: 260px
	}
}
.rf-ccard-img-full-wrapper {
	width: 100%
}
.rf-ccard-img-full {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block
}
.rf-ccard-content-info {
	padding: 30px;
	width: 340px
}
.rf-ccard-img-full-wrapper+.rf-ccard-content-info {
	position: absolute;
	left: 0
}
@media only screen and (max-width:1023px) and (max-device-width:736px) {
	.rf-ccard-content-info {
		padding: 28px;
		width: 253px
	}
}
@media only screen and (max-device-width:320px) {
	.rf-ccard-content-info {
		width: 204px
	}
}
.rf-ccard-content-header {
	font-size: 28px;
	line-height: 1.14286;
	font-weight: 600;
	letter-spacing: .007em;
	font-family: SF Pro Display, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
	color: #1d1d1f;
	padding-top: 24px;
	margin-top: 0
}
@media only screen and (max-width:1023px) and (max-device-width:736px) {
	.rf-ccard-content-header {
		font-size: 24px;
		line-height: 1.16667;
		font-weight: 600;
		letter-spacing: .009em;
		font-family: SF Pro Display, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif
	}
}
@media only screen and (max-width:1023px) and (max-device-width:736px) {
	.rf-ccard-content-header {
		font-size: 21px;
		line-height: 1.19048;
		font-weight: 600;
		letter-spacing: .011em;
		font-family: SF Pro Display, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif
	}
}
@media only screen and (max-width:1023px) and (max-device-width:736px) {
	.rf-ccard-content-header {
		font-size: 32px;
		line-height: 1.125;
		font-weight: 600;
		letter-spacing: .004em;
		font-family: SF Pro Display, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
		padding-top: 23px
	}
}
@media only screen and (max-width:1023px) and (max-device-width:736px) and (max-width:1023px) and (max-device-width:736px) {
	.rf-ccard-content-header {
		font-size: 28px;
		line-height: 1.14286;
		font-weight: 600;
		letter-spacing: .007em;
		font-family: SF Pro Display, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif
	}
}
@media only screen and (max-width:1023px) and (max-device-width:736px) and (max-width:1023px) and (max-device-width:736px) {
	.rf-ccard-content-header {
		font-size: 24px;
		line-height: 1.16667;
		font-weight: 600;
		letter-spacing: .009em;
		font-family: SF Pro Display, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif
	}
}
.rf-ccard-darkbg .rf-ccard-content-header {
	color: #fff
}
.rf-ccard-content-eyebrow+.rf-ccard-content-header {
	padding-top: 0
}
.rf-ccard-content-header .rf-ccard-content-headerlink {
	color: #1d1d1f;
	text-decoration: none;
	display: inline-block
}
.rf-ccard-darkbg .rf-ccard-content-header .rf-ccard-content-headerlink {
	color: #fff
}
.rf-ccard-content-desc {
	font-size: 17px;
	line-height: 1.23536;
	font-weight: 400;
	letter-spacing: -.022em;
	font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
	color: #1d1d1f;
	padding-top: 10px;
	margin-top: 0
}
@media only screen and (max-width:1023px) and (max-device-width:736px) {
	.rf-ccard-content-desc {
		padding-top: 6px
	}
}
.rf-ccard-darkbg .rf-ccard-content-desc {
	color: #fff
}
.rf-ccard-content-desc b {
	font-weight: 400
}
.rf-ccard-content-eyebrow {
	font-size: 12px;
	line-height: 1.33337;
	font-weight: 400;
	letter-spacing: -.01em;
	font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight: 600;
	color: #6e6e73;
	width: 204px;
	padding-bottom: 8px
}
@media only screen and (max-width:1023px) and (max-device-width:736px) {
	.rf-ccard-content-eyebrow {
		padding-bottom: 7px
	}
}
.rf-ccard-darkbg .rf-ccard-content-eyebrow {
	color: #f5f5f7
}
.rf-cards-scroller {
	position: relative
}
.rf-cards-scroller .paddlenav .paddlenav-arrow-next, .rf-cards-scroller .paddlenav .paddlenav-arrow-previous {
	top: 49%
}
.rf-cards-scroller .paddlenav .paddlenav-arrow-next:disabled, .rf-cards-scroller .paddlenav .paddlenav-arrow-previous:disabled {
	display: none
}
.rf-cards-scroller-crop {
	overflow: hidden;
	height: 500px;
	padding-bottom: 26px
}
@media only screen and (max-width:1023px) and (max-device-width:736px) {
	.rf-cards-scroller-crop {
		height: 450px
	}
}
.rf-cards-scroller-platter {
	width: 100%;
	vertical-align: top;
	display: inline-flex;
	padding-top: 10px;
	padding-bottom: 40px
}
.rf-cards-scroller-platter>div:first-child .rf-cards-scroller-itemview {
	margin-left: 0
}
.rf-cards-scroller-platter>div:last-child .rf-cards-scroller-itemview {
	padding-right: 20px
}
.rf-cards-scroller-itemview {
	display: flex;
	height: 500px;
	margin-right: 20px;
	transform: translateX(calc(max(1024px, 100vw)/2 - 490px))
}
.rf-cards-scroller-content {
	overscroll-behavior-x: contain
}
body {
	background-color: #f5f5f7
}